<head>
    <title>osu!Oracle</title>

    <meta charset="UTF-8">
    <meta name="description"
        content="This is the Osu Oracle. It recommend farm beatmaps based scores. DM me via osu! messenger @EggTofu if you would like to contribute (or github idc).">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="osu, osu!, pp, recommend, recommendation, farm, maps, EggTofu, peppy, ppy, rhythm, game, taiko, tatsujin, simulator, sim, xna, ddr, beatmania, osume, oracle, ">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/main.css">

    <script src="static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <link rel="icon" type="image/x-icon" href="https://cdn3.emoji.gg/emojis/7992-orb.gif">
</head>

Adding support for other gamemodes.
</br> Maybe I'll update the model? idk, I had support for a no HD model that was trained on scores with HD removed. I figure that HD is kind of a preference mod, so that may have helped with recommendations, not sure. 
</br> Adding a graph maybe? kinda like the one ameobea has.  
</br>
</br> lemme know if you have any ideas, either DM me on reddit @ u/EggTofu or on Github.
