<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Osu Oracle</title>
    <meta name="description"
        content="This is the Osu Oracle. It recommend beatmaps based on Nearest Neighbor algorithm. DM me on reddit if you would like to contribute.">

    <meta name="EggTofu" content="https://www.reddit.com/user/EggTofu/">
    <script src="static/script.js">
    </script>

    <style>
        .table {
            display: flex;
        }

        .column1 {
            flex: 1;
            padding: 10px;
            border: 1px solid black;
        }

        .column2 {
            flex: 1;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="table">
        <div class="column1">
            repo: https://github.com/MichaelDeng03/osu_oracle2 <br>
            <a href="/wip"> What I'm working on rn. </a>
            <h1> Scores</h1>
            <br> Populate your scores with either your user id, or with individual scores (or both). Both values are the
            number ONLY. If you were me https://osu.ppy.sh/users/28956125, then you would enter 28956125. For individual
            scores, hit the three vertical dots then view details. My top play is
            https://osu.ppy.sh/scores/osu/4470046750, so I would enter 4470046750. Due to my ineptitude you'll have to
            refresh the page to clear your recommended.number</br>

            <input type="number" id="userID" placeholder="user id (ie. 28956125)">
            <input type="button" id="submitUserID" value="Submit">

            <div>
                <table id="scoresTable">
                    <thead>
                        <tr>
                            <th> Score ID </th>
                            <th> Beatmap/ID </th>
                            <th> Mods </th>
                            <th> Rank/Acc </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id="scoresTableBody">
                    </tbody>
                </table>
            </div>

            <input type="number" id="scoreID" placeholder="score id (ie. 4470046750)">
            <input type="button" id="submitScoreID" value="Submit">
        </div>

        <div class="column2">
            <h1> Recommended Beatmaps</h1>
            <br> Make sure your scores are populated before you hit recommend </br>
            <br> Based on your scores, the Osu Oracle recommends... </br>
            <input type="button" id="recommendBeatmaps" value="Recommend Beatmaps">

            <div>
                <table id="recommendedBeatmaps">
                    <thead>
                        <tr>
                            <th> Beatmap ID </th>
                            <th> Mods </th>
                        </tr>
                    </thead>
                    <tbody id="recommendedBeatmapsBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>