<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Osu Oracle</title>
    <meta name="description"
        content="This is the Osu Oracle. It recommend beatmaps based on Nearest Neighbor algorithm. DM me on reddit if you would like to contribute.">

    <meta name="EggTofu" content="https://www.reddit.com/user/EggTofu/">
    <script src="static/script.js">
    </script>

    <style>
        .table {
            display: flex;
        }

        .column1 {
            flex: 1;
            padding: 10px;
            border: 1px solid black;
        }

        .column2 {
            flex: 1;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <a href="https://github.com/MichaelDeng03/osu_oracle2"> Repo </a>
    <br> <a href="/wip"> What I'm working on rn. </a>
    <div class="table">
        <div class="column1">
            <h2> Scores</h2>
            <br> Populate your scores with either your user id, or with individual scores (or both). Both values are the
            number ONLY. If you were me https://osu.ppy.sh/users/28956125, then you would enter 28956125 for score id.
            If I wanted to find a map similar to my top score,
            https://osu.ppy.sh/scores/osu/4470046750, I would enter 44700046750.

            <br> <input type="number" id="userID" placeholder="user id (ie. 28956125)">
            <input type="button" id="submitUserID" value="Submit">
            <input type="number" id="scoreID" placeholder="score id (ie. 4470046750)">
            <input type="button" id="submitScoreID" value="Submit">

            <div>
                <table id="scoresTable">
                    <thead>
                        <tr>
                            <th> Score ID </th>
                            <th> Beatmap ID </th>
                            <th> Beatmap Name </th>
                            <th> Mods </th>
                            <th> Rank </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id="scoresTableBody">
                    </tbody>
                </table>
            </div>

        </div>

        <div class="column2">
            <h2> Recommended Beatmaps</h2>
            <br> Make sure your scores are populated before you hit recommend. If nothing shows up, most likely it's
            because my db has no record of similar scores. Support coming (hopefully)!
            <br> Removing HD will change your recommendations beyond just stripping the HD mod. Even if you are an HD
            player, you should still consider ticking the box.
            <br> Detect skillsets will change recommendations by (attempting) to partition your plays based on skillset. Recommendation skillsets are split by horizontal line.
            <br> Based on your scores, the Osu Oracle recommends... </br>
            <input type="button" id="recommendBeatmaps" value="Recommend Beatmaps">
            <input type="checkbox" id="noHD" name="noHD" value="noHD">
            <label for="noHD">Remove HD</label>
            <input type="checkbox" id="detectSkillsets" name="detectSkillsets" value="detectSkillsets">
            <label for="detectSkillsets">Detect Skillsets</label>

            <div>
                <table id="recommendedBeatmaps">
                    <thead>
                        <tr>
                            <th> Beatmap ID </th>
                            <th> Beatmap Name </th>
                            <th> Stars </th>
                            <th> Mods </th>
                        </tr>
                    </thead>
                    <tbody id="recommendedBeatmapsBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>