<br> what im working on rn: cleaning up codebase and uploading a public versoin to github. </br>
<br> Figuring out my domain, firewall access, and port stuff. I have no clue what I'm doing, so if anybody has experience please contact me! </br>
<br> Adding a model that disregards HD. HD is pretty much just a preference mod. This should help with all the HR recommendations that everybody has been getting. </br>
<br> Adding pp to recommended scores. </br>
<br> Update my DB so that I can provide beatmap names and links to beatmaps. </br>
<br> Providing you guys error messages so you know why nothing is showing up. </br>
<br> Adding a model that trims fewer plays. ATM my model requires that at least 15 plays be set before its even considered. This should help niche skill sets like DTHR, FL, EZ. </br>
<br> database with network access. I've been copying that around my local machine and my VM, and it's terrible. Similarly, I need to fix my repo and just clean up the codebase </br>
<br> Score id will populate scores, but I'm getting a wrong shape error on the recommendation side. I think its because my model hasn't seen some scores so it'll just remove them and then it just tries to predict based off of nothing. </br>