<br> Figuring out firewall access, and port stuff. I have no clue what I'm doing, so if anybody has experience please contact me! </br>
<br> Providing you guys error messages so you know why nothing is showing up. </br>
<br> Adding a model that trims fewer plays. ATM my model requires that at least 15 plays be set before its even considered. This should help niche skill sets like DTHR, FL, EZ, as well as top players. Also, just generally fiddling around with my model training. </br>
<br> database with network access. I've been copying that around my local machine and my VM, and it's terrible. If anybody knows how to set this setup, &#129402; </br>
<br> Score id will populate scores, but I'm getting a wrong shape error on the recommendation side. I think its because my model hasn't seen some scores so it'll just remove them and then it just tries to predict based off of nothing. </br>
