name: Code Formatting and Linting
run-name: Code Format ${{  github.actor }}
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync  

      - name: mypy check
        run: |
          uv run mypy .
      
      - name: ruff check
        run: |
          uv run ruff check